<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Thanks for signing up</h1>
    <p>
      Your key is <%= @user.key %>. 
      You will need this to make a password attempt! Try not to lose it!
    </p>
  </body>
</html>
