<h1>Leaderboard!</h1>

<% if @users.any? %>
  <table>
    <tr>
      <th>Username</th>
      <th>Score</th>
      <th>Time</th>
    </tr>
    <%= render @users %>
  </table>
<% else %>
  <p>No users :((((</p>
<% end %>
