<h1>Updates</h1>
<ul>
  <li>
    <em>Friday, October 3 10:25am:</em>
    All attempts are now being stored in the database. This will be used if
    there are any verification issues or questions.
</ul>
