<h1>Updates</h1>
<ul>
  <li>
    <em>Thursday, October 2 11:50pm:</em>
    While trying to disable external acces to MySQL, I temporarily broke the
    website's connection to the database. This has been resolved.
  </li>
  <li>
    <em>Friday, October 3 10:25am:</em>
    All attempts are now being stored in the database. This will be used if
    there are any verification issues or questions.
</ul>
