<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">ACM Hashing!!</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Left section -->
    <ul class="left">
      <li><%= link_to "Leaderboard", users_path %></li>
    </ul>

    <!-- Right section -->
    <ul class="right">
      <li><%= link_to "Create User", sign_up_path %></li>
    </ul>
  </section>
</nav>
