<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">My Site</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Left section -->
    <ul class="left">
      <li><a href="">Leaderboard</a></li>
    </ul>

    <!-- Right section -->
    <ul class="right">
    </ul>
  </section>
</nav>
